!!! 5
html.no-js(lang='en')
//
    <![endif]
  head
    meta(charset='utf-8')
    //
       Set the viewport width to device width for mobile
    meta(name='viewport', content='width=device-width')
    title Marcus Silva
    link(rel='stylesheet', href='css/normalize.css')
    link(rel='stylesheet', href='css/foundation.css')
    script(src='js/vendor/custom.modernizr.js')
  body
    .row
      .large-12.columns
        //
           Navigation
        nav.top-bar
          ul.title-area
            //
               Title Area
            li.name
              h1
                a(href='/Portfolio.htm')
                  | Marcus Silva
            li.toggle-topbar.menu-icon
              a(href='#')
                span menu
          section.top-bar-section
            ul.left
              li
                a(href='/feed.htm') Blog
              li
                a(href='#') Contacts
        //
           End Navigation
    .row
      .large-12.columns
        .row
          //
             SideBar
          .large-3.columns
            .panel
              a(href='#')
                img(src='http://placehold.it/300x240&text=[Me!]')
              h5
                a(href='#') Marcus Silva
              .section-container.vertical-nav(data-section='data-section', data-options='deep_linking: false; one_up: true')
                section.section
                  h5.title
                    a(href='#') All posts
                section.section
                  h5.title
                    a(href='#') Project Updates
                section.section
                  h5.title
                    a(href='#') Web
                section.section
                  h5.title
                    a(href='#') Releases
          //
             End SideBar
          //
             FEED
          .large-9.columns
            #FeedContainer.row
              div(data-bind='foreach: FeedItem')
                .(data-bind="attr: {class: 'stuff'}")
                  .small-4.columns
                    img(src='http://placehold.it/250x250&text=Thumbnail')
                  .small-8.columns
                    h6.panel(data-bind='text: $data.title') Description
                  p(data-bind='text: $data.message')
                  hr
          //
            End FEED
    .row
      .large-12.columns
        .row
          //
             Content
          .large-8.columns
            .panel.radius(style='height: 100%;')
              .row
                .large-7.small-6.columns
                  h4 Open To New Challenges!
                  hr
                  h6.subheader
                  .show-for-small(align='center')
                    a.large.button.expand(href='#')
                      | Submit Inquiry
                    a.large.button.expand(href='#')
                      | Contact Info
                .large-6.small-6.columns
              p
                | If you've got an interesting opportunity let me know.
                | Creating is my forte and Javascript is like clay in my hands.
              br
              br
              br
          .large-4.columns.hide-for-small
            h4 Get In Touch!
            hr
            a.large.button.expand(href='#')
              | Submit Inquiry
            a.large.button.expand(href='#')
              | Contact Info
          //
             End Content
    //
       Footer
    footer.row
      .large-12.columns
        hr
        .row
          .large-6.columns
            p © Copyright Marcus Silva. 2013
          .large-6.columns
            ul.inline-list.right
              li
                a(href='http://www.linkedin.com/in/sdonai') LinkedIn
              li
                a(href='#') Twitter
              li
                a(href='#') Resume
    script
      document.write('<script src=js/vendor/' + ('__proto__' in {} ? 'zepto' : 'jquery') + '.js><\/script>')
    script
      document.write('<script src=js/foundation.min.js><\/script>')

    script(src='js/vendor/Knockout.js')
    script(src='js/Feed.js')
    script
      $(document).foundation();
    //
       End Footer
