!!! 5
html.no-js(lang='en')
//
    <![endif]
  head
    meta(charset='utf-8')
    //
       Set the viewport width to device width for mobile
    meta(name='viewport', content='width=device-width')
    title Marcus Silva
    link(rel='stylesheet', href='css/normalize.css')
    link(rel='stylesheet', href='css/foundation.css')
    script(src='js/vendor/custom.modernizr.js')
  body
    .row
      .large-12.columns
        //
           Navigation
        nav.top-bar
          ul.title-area
            //
               Title Area
            li.name
              h1
                a(href='#')
                  | Marcus Silva
            li.toggle-topbar.menu-icon
              a(href='#')
                span menu
          section.top-bar-section
            ul.left
              li
                a(href='/feed.htm') Blog
              li
                a(href='/feed.htm') Projects
              li
                a(href='#') Contacts
        //
           End Navigation
    .row
      .large-12.columns
        //
           Desktop Slider
        .hide-for-small
          #featured(data-orbit='data-orbit')
            a(href='/feed.htm')
              img(src='http://placehold.it/1000x400&text=Attack on Camp Firewood', alt='slide image')
            img(src='http://placehold.it/1000x400&text=I thought I hated spiders', alt='slide image')
            img(src='http://placehold.it/1000x400&text=New game, 20XX', alt='slide image')
        //
           End Desktop Slider
        //
           Mobile Header
        .row
          .small-12.show-for-small
            br
            img(src='http://placehold.it/1000x600&text=This shit works on mobile too!')
        //
           End Mobile Header
    br
    .row
      .large-12.columns
        .row
          //
             Thumbnails
          .large-3.small-6.columns
            img(src='http://placehold.it/250x250&text=Thumbnail')
            h6.panel Description
          .large-3.small-6.columns
            img(src='http://placehold.it/250x250&text=Thumbnail')
            h6.panel Description
          .large-3.small-6.columns
            img(src='http://placehold.it/250x250&text=Thumbnail')
            h6.panel Description
          .large-3.small-6.columns
            img(src='http://placehold.it/250x250&text=Thumbnail')
            h6.panel Description
          //
             End Thumbnails
    .row
      .large-12.columns
        .row
          //
             Content
          .large-8.columns
            .panel.radius(style='height: 100%;')
              .row
                .large-7.small-6.columns
                  h4 Open To New Challenges!
                  hr
                  h6.subheader
                  .show-for-small(align='center')
                    a.large.button.expand(href='#')
                      | Submit Inquiry
                    a.large.button.expand(href='#')
                      | Contact Info
                .large-6.small-6.columns
              p
                | If you've got an interesting opportunity let me know.
                | Creating is my forte and Javascript is like clay in my hands.
              br
              br
              br
          .large-4.columns.hide-for-small
            h4 Get In Touch!
            hr
            a.large.button.expand(href='#')
              | Submit Inquiry
            a.large.button.expand(href='#')
              | Contact Info
          //
             End Content
    //
       Footer
    footer.row
      .large-12.columns
        hr
        .row
          .large-6.columns
            p © Copyright Marcus Silva. 2013
          .large-6.columns
            ul.inline-list.right
              li
                a(href='http://www.linkedin.com/in/sdonai', target='_Marcus') LinkedIn
              li
                a(href='#', target='_Marcus') Twitter
              li
                a(href='#', target='_Marcus') Resume
    script
      document.write('<script src=js/vendor/' + ('__proto__' in {} ? 'zepto' : 'jquery') + '.js><\/script>')
    script
      document.write('<script src=js/foundation.min.js><\/script>')


    script(src='js/vendor/underscore.js')
    script(src='js/vendor/backbone.js')
    script
      $(document).ready(function(){$(document).foundation()});

    //
       End Footer
