.avatar  .name {
	text-align: center;
	margin-bottom: 0.2em;
}
body{
	background: none;
}
.panel{
	box-shadow: 0 0 50px rgba(0,0,0,0.1);
}

.top-bar{
	box-shadow: 0 0 85px rgba(0,0,0,0.3);
}

.post {
	margin-top: 8px;
}

.thumbnail{
	box-shadow: 0 0 50px rgba(0,0,0,0.1);
}

.orbit-container {
	box-shadow: 0 0 85px rgba(0,0,0,0.3);
}
.orbit-bullets{
	display:none;
}

html{
background-color: #FFFFFF;
background-image: url(http://www.transparenttextures.com/patterns/absurdity.png);
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
height: auto;
}